body {
    padding-top: 80px;
}

.navbar-brand {
    font-weight: bold
}

.text-justify {
    text-align: justify;
}
footer {
    background-image: linear-gradient(rgb(230, 94, 141), rgb(128, 46, 122));
    padding: 10px;
    text-align: center;
    color: rgb(66, 12, 40)
}

.social-icons {
    margin-top: 15px;
}

.social-icons img {
    width: 24px;      
    height: 24px;
    border-radius: 20%;
    object-fit: contain;
}

.social-icons img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.wrapper img {
    margin-right: 20px;
}

.wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.vm-img {
    height: 350px;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(70%);
    border-radius: 3%;
}

.vm-overlay {
    position: absolute;
    inset: 0;
    color: white;
}
.card-img-top {
    height: 500px;          
    object-fit: cover;     
    width: 100%;
}
.gallery-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gallery-img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


